:root {
	--separation: 5rem;
	--primary-color: #5e311e;
	--secondary-color: #c39c63;
	--gray: #eceeef;
	--mainFont: 'Roboto', sans-serif;
	--secondaryFont: 'Lato', sans-serif;

	--border: 1px solid red;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /*1rem = 10px*/
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--mainFont);
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: #5e311e;
}

/* Globals */
.container {
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

h1,
h2 {
	font-weight: 900;
	font-family: var(--secondaryFont);
	margin: calc(var(--separation / 2)) 0;
	color: var(--primary-color);
}

h1 {
	font-size: 3.4rem;
	margin: 0;
}

h2 {
	font-size: 2.6rem;
	margin: 1rem 0;
}

img {
	display: block;
	max-width: 35%;
	height: auto;
	border-radius: 5rem;
	margin: 2rem auto;
}

.main-container {
	max-width: 120rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
	width: 90%;
	column-gap: 5rem;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5rem;
	text-align: center;
	background-color: var(--secondary-color);
	border-radius: 2rem;
}

.txtArea {
	font-size: 1.5rem;
	width: 80%;
	margin: 0 auto;
}

.label {
	font-size: 1.7rem;
	font-weight: 900;
	color: var(--primary-color);
}

.text-left {
	text-align: left;
}
